.Html {
	background-color:#F2622E;
}

.Css {
	background-color: #264de4;
}

.Javascript {
	background-color: #f6d854;
}

.React {
	background-color: #61dafb;
}

.Frameworks {
	background-color: #72A603;
}