.main {
	display: flex;
}

.aside_container {
	width: min-content;
	background-color: #ffd8a886;
}

.aside_sticky {
	display: flex;
	position: sticky;
	padding-top: 20px;
	top: 0;
}

.aside {
	width: 150px;
	margin-top: 5px;
	padding-left: 20px;
}

.aside_navigation {
	display: flex;
	flex-direction: column;
}

.aside_navigation_heading {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 20px;
}

.aside_navigation_link {
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
	color: #9b9b9b;
}

.aside_navigation_link:hover {
	color: #cb4757;
	text-decoration: underline;
}

.btns {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 70px;
}

.btns_helper_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 120px;
}

.menu_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: transparent;
}

.menu_btn:hover {
	background-color: #ffd8a8ad;
}

.menu_svg {
	height: 25px;
	fill: #656668;
}

.map_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: transparent;
}

.map_btn:hover {
	background-color: #ffd8a8ad;
}

.map_svg {
	height: 25px;
	fill: #656668;
}

.course_switch_container {
	position: fixed;
	top: 50%;
	left: 0;
	display: flex;
	align-items: center;
}

.course_switch_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 70px;
	background-color: transparent;
}

.course_switch_btn:hover {
	background-color: #ffd8a8ad;
}

.course_switch_svg {
	height: 25px;
	fill: #656668;
}

.content_fat	{
	padding: 0px 150px 0px 80px;
	width: 100%;
}

.content_slim	{
	padding: 0px 120px 0px 50px;
	width: 100%;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	margin-top: 50px;
	margin-bottom: 30px;
}

.navigation_home_button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.navigation_home_svg {
	fill: #9b9b9b;
}

.navigation_home_svg:hover {
	fill: #cb4757;
}

.navigation_section_link {
	font-weight: 400;
	color: #9b9b9b;
}

.arrow {
	color: #9b9b9b;
	margin: 0px 10px;
}

.info_heading {
	font-weight: 700;
	font-size: 32px;
	color: #272E38;
	margin-bottom: 30px;
}

.info_text {
	color: #272E38;
	line-height: 1.2;
	margin-bottom: 15px;
}

.info_table {
	width: 100%;
	border: 2px solid #272e3867;
	border-spacing: 0px;
	margin-bottom: 25px;
	border-radius: 10px;
}

.info_table a {
	color: #272E38;
}

.info_table tr td div {
	background-color: #f5f2f0;
	border-bottom: 2px solid #272e3867;
	padding: 15px 10px;
}

.info_table tr td div:hover {
	background-color: #e7e5e3;
}

.info_table tr:first-of-type td div{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.info_table tr:last-of-type td div{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: none;
}

.info_table tr td div span {
	margin: 0px 10px;
	color: #656668;
}


.switch_course_next {
	position: fixed;
	top: 50%;
	right: 0;
}